.mini-navbar {
  background-color: #f2f2f2;
  padding: 1px;
  padding-bottom: 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  color: green; 
}

.mini-navbar a {
  margin-right: 50px;
  cursor: pointer;
}

.mini-navbar span:last-child {
  margin-right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .mini-navbar {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: auto;
  }

  .mini-navbar a {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
